################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MotornaVozila/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MotornaVozila/obj/Debug/MotornaVozila.csprojAssemblyReference.cache
